html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

#title {
    pointer-events: none;
    user-select: none;
    font-family: monospace;
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.red {
    color: #e64017;
}

code {
    background: #2c2938;
    padding: 2px 5px;
    border-radius: 3px;
    color: #fff;
}

#reset {
    cursor: pointer;
    pointer-events: all;
}